@import "../../index";

.waiting-for{
  background-color: $white;
  width: 100%;
  min-height: 400px;
  @extend %br8;
  margin: 36px 0;
  padding: 26px 32px;
  position: relative;
}
.waiting-for_header{
  @extend %fw700n;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 20px;
}
.waiting-for_list{
  display: flex;
}
.waiting-for_card{
  border-radius: 8px;
  min-height: 308px;
  margin-right: 30px;
  overflow: hidden;
}
.waiting-for__card-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 122px;
  height: 100%;
}
.waiting-for_card-image{
  width: 122px;
  height: 185px;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: center;
  img{
    width: auto;
    height: 100%;
  }
}

.waiting-for_card-text{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  h3{
    font-size: 12px;
    line-height: 16px;
    color: $gray;
    &:before{
      content: 'by ';
    }
  }
}
.waiting-for_card-description{
  height: 100%;
  margin-bottom: 8px;
  p{
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
  }
}
.waiting-for_card-stars{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  li{
    width: 19px;
    height: 19px;
    padding: 2px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}
.waiting-for_card-button{
  width: 100%;
  height: 32px;
  background-color: $secondary-gray;
  color: $white;
  font-size: 12px;
  line-height: 16px;
  @extend %fw600n;
  @extend %br8;
  &:hover{
    @extend %btnCardHov
  };
  &:active{
    @extend %btnCardAct
  }
}
.list-of-books{
  background-color: $white;
  width: 100%;
  min-height: 400px;
  @extend %br8;
  margin: 36px 0;
  padding: 26px 32px;
  position: relative;
}
.main-body_alert{
  position: absolute;
  top: 45%;
  left: 0;
  @extend %fw600n;
  font-size: 24px;
  line-height: 40px;
  color: $secondary-gray;
  width: 100%;
  padding: 0 20px;
  p{
    text-align: center;
  }
}



