@import "../../../index";

.all-books{
  background-color: $white;
  width: 100%;
  border-radius: 8px;
  padding: 120px 32px;
  position: relative;
}
.all-books-header{
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 27px;
  @extend %fw700n
}
.block-grid{
  display: grid;
  grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
  grid-gap: 48px 44px;
  min-height: 185px;
  margin-bottom: 35px;
  transition: .3s;
  @media (max-width: 1000px){
    grid-template-columns: calc(33.3% - 30px) calc(33.3% - 30px) calc(33.3% - 30px);
    grid-gap: 38px 34px;
  }
  @media (max-width: 768px){
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    grid-gap: 38px 34px;
  }
  @media (max-width: 560px){
    grid-template-columns: calc(100% - 0px);
    grid-gap: 38px;
  }
}

.card{
  border-radius: 8px;
  max-width: 100%;
  min-height: 185px;
  @media (max-width: 560px){
    min-height: 210px;
  }
}
.card-body{
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.card-img{
  flex: 0 0 50%;
  position: relative;
  margin-right: 12px;
  border-radius: 8px;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  h2{
    font-size: 14px;
    line-height: 19px;
    @extend %fw700n;
  }
  h3{
    font-size: 12px;
    line-height: 16px;
    color: $gray;
    &:before{
      content: 'by ';
    }
  }
}

.card-taken{
  display: none;
}
.card-stars{
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  li{
    width: 19px;
    height: 19px;
    padding: 2px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}
.card-order{
  width: 100%;
  height: 32px;
  background-color: $secondary-gray;
  color: $white;
  font-size: 12px;
  line-height: 16px;
  @extend %fw600n;
  @extend %br8;
  &:hover{
    @extend %btnCardHov
  };
  &:active{
    @extend %btnCardAct
  }
}
.all-books-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    font-size: 20px;
    line-height: 27px;
    @extend %fw600n;
    @extend %br8;
    color: $white;
    background-color: $general-red;
    padding: 10px 38px;
    &:hover{
      filter: drop-shadow(2px 2px 5px #777);
      transition: .3s;
    }
    &:active{
      filter: drop-shadow(5px 5px 10px #555);
    }
  }
}
