@import "../../index";

.headInfoBlock{
  position: relative;
  padding: 30px 0;
}
.headInfoBlock-body{
  background-color: $secondary-blue;
  width: 100%;
  max-height: 500px;
  @extend %br8;
  display: flex;
  padding: 68px 80px;
  color: $black;
}
.headInfoBlock-content{
  margin-right: 88px;
  margin-top: 32px;
  max-width: 315px;
}
.headInfoBlock-header{
  @extend %fw700n;
  font-size: 38px;
  line-height: 52px;
  margin-bottom: 40px;
}
.headInfoBlock-description{
  @extend %fw600n;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 40px;
}
.headInfoBlock-button{
  width: 185px;
  height: 48px;
  background-color: $general-red;
  @extend %br8;
  color: $white;
  @extend %fw600n;
  font-size: 20px;
  line-height: 27px;
  &:hover{
    filter: drop-shadow(2px 2px 5px #777);
    transition: .3s;
  }
  &:active{
    filter: drop-shadow(5px 5px 10px #555);
  }
}
.headInfoBlock-image{
  img{
    max-width: 100%;
    object-fit: contain;
  }
}

@media (max-width: 1230px) {
  .headInfoBlock-body{
    padding: calc(10px + 58 * ((100vw - 320px) / (1230 - 320))) calc(16px + 64 * ((100vw - 320px) / (1230 - 320)));
  }
  .headInfoBlock-content {
    margin-right: calc(40px + 44 * ((100vw - 320px) / (1230 - 320)));
  }
  .headInfoBlock-header{
    font-size: calc(20px + 18 * (100vw / 1230));
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / (1230 - 320)));
  }
  .headInfoBlock-description{
    font-size: calc(10px + 18 * (100vw / 1230));
    margin-bottom: calc(10px + 30 * ((100vw - 320px) / (1230 - 320)));
  }
}